p {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  color: rgb(228, 186, 186);
}
h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: rgb(83, 75, 75);
}
a {
  color: rgb(167, 1, 78);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#todays-challenge {
  color: rgb(170, 96, 83);
  font-weight: bold;
  font-size: 52px;
}

img{
  width: 200px ;
  height: 200px;
  border-radius: 100px;
}

#anchor{
  color:rgb(00, 96, 83);;
}

body{
  background-color: rgb(239, 164, 164);
  text-align: center;
}

#pg{
  text-align: start;
  color: rgb(00, 96, 83);
}